# BHoM_Engine REPO CODEOWNERS

# default global
* @al-fisher @rwemay @adecler


# project owners 

#NEED OWNER: /Acoustic_Engine
/Analytical_Engine @al-fisher @rwemay @IsakNaslundBh @FraserGreenroyd
#NEED OWNER: /Architecture_Engine
/BHoM_Engine @adecler @al-fisher
/Common_Engine @al-fisher @rwemay
/Data_Engine @adecler @epignatelli
/Diffing_Engine @alelom @al-fisher @adecler
/Environment_Engine @FraserGreenroyd @tg359
/Geometry_Engine @pawelbaran @al-fisher @epignatelli
/Humans_Engine @al-fisher @rwemay
/Library_Engine @adecler @IsakNaslundBh
/MEP_Engine @kayleighhoude @FraserGreenroyd
/Physical_Engine @al-fisher @rwemay @IsakNaslundBh @FraserGreenroyd
/Planning_Engine @rwemay @al-fisher
/Programming_Engine @adecler @FraserGreenroyd @al-fisher
/Reflection_Engine @adecler @FraserGreenroyd @al-fisher
/Results_Engine @IsakNaslundBh @FraserGreenroyd @rwemay
#NEED OWNER: /SVG_Engine
/Serialiser_Engine @adecler @FraserGreenroyd
#NEED OWNER: /Speech_Engine
/Structure_Engine @IsakNaslundBh @rwemay