<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea" version="3.0.4-beta3" targetFramework="net45" />
  <package id="CUDAfy.NET" version="1.29.5576.13786" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" />
  <package id="FSharp.Core" version="4.2.1" targetFramework="net45" />
  <package id="OpenCL.Net" version="2.2.9.0" targetFramework="net45" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net45" />
</packages>